.images {
  display: grid;
  grid-row-gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.images img {
  height: 480px;
  width: 700px;
}
h2 {
  font-size: 28px;
  text-align: center;
  margin: 20px;
  margin-left: 130px;
  padding: 20px;
  padding-bottom: 40px;
}
.content {
  display: flex;
  justify-content: center;
}
.content p {
  padding: 18px;
  margin: 18px;
  margin-right: 10px;
  font-size: 20px;
}
