* {
  margin: 0;
  padding: 0px;
 
}
.navbar {
  background-color: rgb(214, 199, 65);
  font-size: 18px;
  font-weight: 500px;

  width: 100%;
  display: flex;
}

.navbar p {
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  margin-left: 25.5%;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.navbar p:hover {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 14px;
  margin-left: 25.5%;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.navbar ul {
  display: flex;
  padding: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar li {
  list-style: none;
  font-weight: 600;
}

.navbar li:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bolder;
}

.navbar .one {
  padding-left: 60px;
}

.navbar .ones {
  padding-left: 20px;
}
.cover img {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container a {
  text-decoration: none;
  color: black;
}
.grid-container img {
  height: 250.913px;
  width: 441px;
  box-shadow: 3.5px 4px grey;
}

.grid-container p {
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  width: 445.8px;
  margin-left: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  background-color: beige;
  height: 100%;
  width: 100%;
}

.body h3 {
  font-size: 28px;
  margin-bottom: 40px;
  margin: 0px;
  padding: 20px;
}

.intro {
  display: flex;
  height: 900px;
  padding: 20px;
}
.intro img {
  height: 400px;
  display: grid;
  margin-left: 40px;
  margin-bottom: 30px;
}

.intro .img1 {
  box-shadow: 5px 5px grey;
}
.intro #about {
  padding: 20px;
  width: 70%;
}

.intro h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.intro h3 {
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.intro p {
  padding: 20px;
  font-size: 18px;
  margin-left: 30px;
}

#footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 199, 65);
  margin-top: 20px;
}
#footer p {
  font-size: 18px;
  font-weight: bolder;
}
